# DO NOT REMOVE THIS FILE

[web]
# Web interface frontend: fluidd, mainsail
frontend: fluidd
# Enable access at http://<printer-ip>/firmware-config/: true, false
firmware_config: true
# Enable access at http://<printer-ip>/screen/: true, false
remote_screen: false

[camera]
# Internal (Case) camera options: paxx12, snapmaker, none
internal: paxx12
# External (USB) camera options: paxx12, none
usb: none
# Enable RTSP streaming server: true, false
rtsp: false

[components]
rfid: external, snapmaker, openrfid, openrfid-generic

[remote_access]
# Enable SSH access: true, false
ssh: false
# VPN provider for remote access: none, tailscale
# Must SSH and run "tailscale up" to complete login flow
vpn: none
# Cloud: none, octoeverywhere
# - none - No cloud services enabled.
# - octoeverywhere - OctoEverywhere.com cloud-based remote access service
cloud: none

[monitoring]
# Enable Klipper Prometheus exporter on specified address
# klipper_exporter: :9101
