[output_pin upper_rfid_coils_enable_pin]
gpio_device = 1
line = 27

[output_pin lower_rfid_coils_enable_pin]
gpio_device = 1
line = 24

[output_pin rfid_reader_right_side_reset_pin]
gpio_device = 1
line = 25

[output_pin rfid_reader_left_side_reset_pin]
gpio_device = 1
line = 28

[software_spi rfid_reader_right_side_spi]
bus = 2
device = 0
max_speed_hz = 500000
mode = 0

[software_spi rfid_reader_left_side_spi]
bus = 2
device = 1
max_speed_hz = 500000
mode = 0

[fm175xx rfid_reader_right_side]
enabled = false
spi = rfid_reader_right_side_spi
reset_pin = rfid_reader_right_side_reset_pin

[fm175xx rfid_reader_left_side]
enabled = false
spi = rfid_reader_left_side_spi
reset_pin = rfid_reader_left_side_reset_pin

[gpio_enabled_rfid_reader slot_0_reader]
slot = 0
rfid_reader = rfid_reader_left_side
gpio_pins_high = upper_rfid_coils_enable_pin
gpio_pins_low = lower_rfid_coils_enable_pin

[gpio_enabled_rfid_reader slot_1_reader]
slot = 1
rfid_reader = rfid_reader_left_side
gpio_pins_high = lower_rfid_coils_enable_pin
gpio_pins_low = upper_rfid_coils_enable_pin

[gpio_enabled_rfid_reader slot_2_reader]
slot = 2
rfid_reader = rfid_reader_right_side
gpio_pins_high = upper_rfid_coils_enable_pin
gpio_pins_low = lower_rfid_coils_enable_pin

[gpio_enabled_rfid_reader slot_3_reader]
slot = 3
rfid_reader = rfid_reader_right_side
gpio_pins_high = lower_rfid_coils_enable_pin
gpio_pins_low = upper_rfid_coils_enable_pin

[anycubic_tag_processor]

[openspool_tag_processor]

[qidi_tag_processor]

[snapmaker_tag_processor]
# From https://github.com/Snapmaker/u1-klipper/blob/318c47e02e5809deaef20a1c97051101b1b948e1/klippy/extras/fm175xx_reader.py#L138
key = 536e61706d616b65725f71776572747975696f705b2c2e3b5d5f317132773365

[webhook_exporter parse_error_exporter]
method = POST
event = tag_parse_error
url = http://localhost/printer/filament_detect/set
body_json_template = {"channel":{{reader.slot}},"info":{}}

[webhook_exporter not_present_exporter]
method = POST
event = tag_not_present
url = http://localhost/printer/filament_detect/set
body_json_template = {"channel":{{reader.slot}},"info":{}}

[moonraker_on_property_change]
moonraker_socket_path = /oem/printer_data/comms/moonraker.sock
track_object = filament_detect
track_field = state
get_index_from_field = array
act_on_value = 1

[configuration]
auto_read_mode = false
retries = 20
read_interval_seconds = 0.2
