# Example file on how to configure the Bambu/Creality tag processors.

#[bambu_lab_tag_processor]
# Bambu Lab tagged filament detection key (32 hex characters)
#key =

#[creality_tag_processor]
# Creality tagged filament detection key (32 hex characters)
#key =
# Creality tagged filament detection encryption key (32 hex characters)
#encryption_key =

# Elegoo spools are disabled by default. They are not detected reliably on Snapmaker U1
# due to tag placement. Uncomment to enable.
#[elegoo_tag_processor]

# Tigertag is disabled by default. Uncomment to enable.
#[tigertag_tag_processor]
